<!-- footer -->
<div class="footer-grids">
    <div class="footer-top">
        <div class="footer-bottom-nav">
            <div class="row">
                <div class="col-md-6"><a>All Copyrights &copy;  Reserved 2018-19 </a></div>
                <div class="col-md-6" style="text-align:right;"><a>Powered by Ignou MCA Students </a></div>
            </div>
        </div>
    </div>
</div>
<!-- //footer -->
</div>
</body>

</html>