<div class="navbar-header">
    <a class="navbar-brand" href="/">
        <h1><img src="assets/images/logo.png" alt="" /></h1>
    </a>
</div>
<div id="navbar" class="navbar-collapse collapse">
    <div class="top-search">
        <form class="navbar-form navbar-right">
            <input type="text" class="form-control" placeholder="Search...">

            <i id="micSearch"></i>
            <!-- <input type="submit" value=" ">-->
        </form>
    </div>
    <div class="header-top-right">
        <div class="file">
            <a href="upload.html">Upload</a>
        </div>
        <div class="signin">
            <a href="#small-dialog2" class="play-icon popup-with-zoom-anim">Sign Up</a>

            <div id="small-dialog2" class="mfp-hide">
                <h3>Create Account</h3>
                <div class="signup">
                    <form action="/sign/regProcess" method="POST">
                        <input type="text" name="name" placeholder="Name" value="saideep" required="required" title="Enter your full name" />
                        <input type="text" name="emailId" placeholder="Email" value="saideep.kankarla@gmail.com" required="required" pattern="([\w-\.]+@([\w-]+\.)+[\w-]{2,4})?" title="Enter a valid email" />
                        <input type="password" name="password" placeholder="Password" value="12345678" required="required" pattern=".{6,}" title="Minimum 6 characters required" autocomplete="off" />
                        <input type="text" name="phone" placeholder="Mobile Number" value="1234567890" maxlength="10" pattern="[1-9]{1}\d{9}" title="Enter a valid mobile number" />
                        <input type="submit" value="Sign Up" />
                    </form>
                </div>

                <div class="clearfix"> </div>
            </div>

        </div>
        <div class="signin">
            <a href="#small-dialog" class="play-icon popup-with-zoom-anim">Sign In</a>
            <div id="small-dialog" class="mfp-hide">
                <h3>Login</h3>

                <div class="signup">
                    <form>
                        <input type="text" placeholder="Enter email / mobile" required="required" pattern="([\w-\.]+@([\w-]+\.)+[\w-]{2,4})?" />
                        <input type="password" placeholder="Password" required="required" pattern=".{6,}" title="Minimum 6 characters required" autocomplete="off" />
                        <input type="submit" value="Login " />
                    </form>
                    <div class="forgot">
                        <a href="#">Forgot password ?</a>
                    </div>
                </div>
                <div class="clearfix"> </div>
            </div>
        </div>
        <div class="clearfix"> </div>
    </div>
</div>
<div class="clearfix"> </div>