<div class="col-sm-3 col-md-2 sidebar">

    <div class="drop-navigation drop-navigation">
        <ul class="nav nav-sidebar">
            <li class=""><a href="/" class="home-icon"><span class="glyphicon glyphicon-home" aria-hidden="true"></span>Home</a></li>


            <li><a href="#" class="menu1"><span class="glyphicon glyphicon-film" aria-hidden="true"></span>Categories<span
                        class="glyphicon glyphicon-menu-down" aria-hidden="true"></span></a></li>

            <ul class="cl-effect-2" style="display: block;">
                <% if(sideBar && sideBar.length > 0){ %>
                <% sideBar.forEach(function(item){ %>
                <li><a href="/category/<%= item.name %>/<%= item.category_id %>">
                        <%= item.name %></a></li>
                <% }) %>
                <% } else { %>
                <li><a href="/">
                        No Categories found</a></li>
                <% } %>
            </ul>

    </div>
</div>