<div class="col-sm-3 col-md-2 sidebar">

    <div class="drop-navigation drop-navigation">
        <ul class="nav nav-sidebar">
            <li><a href="index.html" class="home-icon"><span class="glyphicon glyphicon-home" aria-hidden="true"></span>Home</a></li>

            <li class="active"><a href="#" class="menu1"><span class="glyphicon glyphicon-film" aria-hidden="true"></span>MCA<span class="glyphicon glyphicon-menu-down" aria-hidden="true"></span></a></li>
            <ul class="cl-effect-2">
                <li><a href="#semlinkcomeshere">Semester-1</a></li>
                <li><a href="#semlinkcomeshere">Semester-2</a></li>
                <li><a href="#semlinkcomeshere">Semester-3</a></li>
                <li><a href="#semlinkcomeshere">Semester-4</a></li>
                <li><a href="#semlinkcomeshere">Semester-5</a></li>
                <li><a href="#semlinkcomeshere">Semester-6</a></li>
            </ul>
            <!-- script-for-menu -->
            <script>
                $("li a.menu1").click(function() {
                    $("ul.cl-effect-2").slideToggle(300, function() {
                        // Animation complete.
                    });
                });
            </script>
            <li><a href="#" class="menu"><span class="glyphicon glyphicon-film glyphicon-king" aria-hidden="true"></span>Sports<span class="glyphicon glyphicon-menu-down" aria-hidden="true"></span></a></li>
            <ul class="cl-effect-1">
                <li><a href="sports.html">Football</a></li>
                <li><a href="sports.html">Cricket</a></li>
                <li><a href="sports.html">Tennis</a></li>
                <li><a href="sports.html">Shattil</a></li>
            </ul>


    </div>
</div>